%div.row{"id" => "addfeedbutton"}
  %button.btn.btn-primary{"type" => "button", "data-toggle" => "modal", "data-target" => "#addfeedmodel"} 
    %i.icon-plus
    New Feed
  %br
%div.row
  %br
%div.row{"id" => "addfeedbutton"}
  %h5 Your Subscriptions
  %div.list-group
  - if @feeditems.nil?
    %p No subscriptions available
  - else
    - @feeditems.each_with_index do |feeditem,index|
      / %span.badge 14
      = link_to feeditem.feed_name, show_feed_list_path(:feed_id => feeditem.id), :class =>"list-group-item", remote: true
      
  
