%div.modal.fade{'id' => 'addfeedmodel','tabindex' => '-1','role' => 'dialog', 'aria-labled by' => 'myModalLabel', 'aria-hidden' => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{'type' => 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'} &times;
        %h4.modal-title Add a new feed
      = simple_form_for(@feed, :html => {:class => 'form-horizontal'}) do |f|
        %div.modal-body
          = f.input :feed_url, required: true, label: 'Enter Feed URL', :input_html => { :class => 'form-control' }
          = f.input :category, required: true, label: 'Feed Category', :input_html => {value: 'default',
          :class => 'form-control'}
        %div.modal-footer
          = f.button :submit, 'Add Feed', :class => 'btn-primary form-control'


