%div.panel-group{"id" => "accordion"}
  - if @feeditem_list.nil?
    %p no unread item here
  - else
    - @feeditem_list.each do |feeditem|
      = render partial: "feeditems/post", locals: {feeditem: feeditem, viewed: false}

  - if @readfeeditem_list.nil?
    %p no read item here
  - else
    - @readfeeditem_list.each_with_index do |feeditem, index|
      = render partial: "feeditems/post", locals: {feeditem: feeditem, viewed: true}