%div.panel-group{'id' => 'accordion'}
  - if @feeditem_list.nil?
    %p
  - else
    %div{'id' => 'unreadpostscontainer'}
      = render partial: 'feeditems/post', locals: {feeditem_lst: @feeditem_list, viewed: false}
    - if @feeditem_list.size < @max_post_size
      :javascript
        $('#btn-unreadposts').hide()
    %div{'id' => 'btn-unreadposts-container'}
      %a{'id'=>'btn-unreadposts', 'class' => 'btn btn-default btn-xs'} More Unread Posts
    :javascript
      var unreadpost=0
      $('#btn-unreadposts').click(function() {
        $(".ajax-progress").show();
        unreadpost++
        $.get('get_unread_posts',{feed_id: #{@feed_id}, read_page: unreadpost});

       });


  - if @readfeeditem_list.nil?
    %p
  - else
    %div{'id' => 'readpostsconatiner'}
      = render partial: 'feeditems/post', locals: {feeditem_lst: @readfeeditem_list, viewed: true}
    - if @readfeeditem_list.size < @max_post_size
      :javascript
        $('#btn-readposts').hide()
    %div{'id' => 'btn-unreadposts-container'}
      %a{'id'=>'btn-readposts','class' => 'btn btn-default btn-xs'} More Viewed Posts
    :javascript
      var readpost=0
      $('#btn-readposts').click(function() {
        $(".ajax-progress").show();
        readpost++
        $.get('get_read_posts',{feed_id: #{@feed_id}, read_page: readpost});
       });
