/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require _font-awesome
 */


#feedlistcontainer{
    height: 600px;
    overflow:auto;
}
#masterfeedlistcontainer{
    height: 600px;
}
#feedcontainer{
    height: 550px;
    overflow:auto;
}
#masterfeedcontainer{
    height: 550px;
    }

#feedcontainer{
    overflow-x: hidden;
}
.navbar-img img{
	margin-right:5px;
	max-height:25px;
	width:auto;
	vertical-align:middle;
}




/* Set the fixed height of the footer here */
#footercredit {
    font-family: 'Open Sans',"Georgia","Helvetica Neue",Arial,sans-serif;
    font-weight:300;
    font-size: 12px;
    margin-top:10px;
    height: 30px;
    text-align: center;
    color: #444;
    bottom:0;
}


.ajax-progress {
  position: fixed;
  display:none;
  width: 300px;
  height: 50px;
  top: 50%;
  left: 25%;
  background-image: url('ajax-loader.gif');
  background-position: center;
  background-repeat: no-repeat;

}

#navbar-logo{
    padding-left: 33px;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-position:0 14px;
    height: 50px;
}

/*    ========================================================main page*/
#intro{
    background-color:#fff;
    background-image: url('main.png');
    background-repeat: no-repeat;
    background-position:75px 0;
    height: 300px;
    width: 1000px;
}

#intro-feedlist-img{
    background-color:#fff;
    background-image: url('feedlist.png');
    background-repeat: no-repeat;
    height: 300px;
    width: 275px;
    
}
#intro-postlist-img{
    background-color:#fff;
    background-image: url('postlist.png');
    background-repeat: no-repeat;
    background-position:75px 0;
    height: 300px;
}
#intro-post-img{
    background-color:#fff;
    background-image: url('postview.png');
    background-repeat: no-repeat;
    background-position:50px 0;
    height: 350px;
}

#intro p,#intro h1{
    padding-left: 550px;
    
}
#intromain p {
    font-family: 'Open Sans',"Georgia","Helvetica Neue",Arial,sans-serif;
    color: #444;
    font-weight:300;
    font-size: 16px;
    line-height: 1.875em;
    
}
#intro h1, #intromain h2{
    font-family: 'Open Sans',"Georgia","Helvetica Neue",Arial,sans-serif;
    color: #444;
    font-weight:400;
}
#intro-center{
    width:920px;
    margin: 0 auto;
}
#intro h1{
    font-size: 70px;
}
#intromain h2{
    font-size:30px;
}
#introbtn{
    margin-left: 550px;
}
#center-row{
  border-top: 1px dotted #dcdcdc;
  padding-top: 35px;
}





/* end of main*/

















.row#addfeedbutton{
    margin: 0 auto;
}

.post-body{
    padding: 15px 25px;
}
.post-body p{
    font-family: 'Droid Sans',"Georgia","Helvetica Neue",Arial,sans-serif;
    line-height: 26px;
    font-size: 16px;
    text-align: justify;
    color: #444;
}

#published p{
    font-size:14px;
    line-height: 15px;
}
.post-body img{
    max-width:600px;
    height: auto;
}
.row#posttoolbar{
    padding: 0 25px 25px 0;
}

.panel-heading-read{
    padding: 10px 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

}

.row .fullScreen{
    max-width: 860px;
    margin: 0 auto;
    padding: 45px 45px 10px;
}
.fullScreen code{
    font-family: 'Inconsolata', sans-serif;
    font-size: 17px;
}
.fullScreen p{
    line-height: 29px;
    font-size: 18px;
    font-family: 'Lora',"Georgia","Helvetica Neue",Arial,sans-serif;
    font-weight: 400; 
    text-align: justify;
    color: #444;

}
blockquote{
    font-family: 'Vollkorn',"Georgia","Helvetica Neue",Arial,sans-serif;
    line-height: 26px;
    font-size: 16px;
    text-align: justify;
    color: #444;
}
.fullScreen img{
    max-width: 800px;
    height: auto;
}