/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import url("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");


.navbar-img img{
	margin-right:5px;
	max-height:25px;
	width:auto;
	vertical-align:middle;
}

.row#addfeedbutton{
    margin: 0 auto;
}

.post-body{
    padding: 15px 25px;
}
.post-body p{
    font-family: 'PT Sans',"Georgia","Helvetica Neue",Arial,sans-serif;
    line-height: 1.25em;
    font-size: 1.25em;
    text-align: justify;
    color: #444;
}
.post-body img{
    max-width:600px;
    height: auto;
}
.row#posttoolbar{
    padding: 0 25px 25px 0;
}

.panel-heading-read{
    padding: 10px 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

}

.fullScreen{
    max-width: 860px;
    margin: 0 auto;
    padding: 45px 45px 10px;
}
.fullScreen code{
    font-family: 'Inconsolata', sans-serif;
    font-size: 17px;
}
.fullScreen p, .fullScreen span{
    line-height: 2em;
    font-size: 17px;
    font-family: 'PT Sans',"Georgia","Helvetica Neue",Arial,sans-serif;
    font-weight: 400; 
    text-align: justify;
    color: #444;

}
.fullScreen img{
    max-width: 800px;
    height: auto;
}