/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require _font-awesome
*/

#maincontainer{
    background-color: #fff;
    padding-top: 30px;
    margin-bottom: 50px;
}
#navbar-logo{
    padding-left: 33px;
    background: url('logo.png') no-repeat 0 14px;
    height: 50px;
}
.navbar-img img{
    margin-right:5px;
    max-height:25px;
    width:auto;
    vertical-align:middle;
}
.ajax-progress {
    position: fixed;
    display:none;
    width: 300px;
    height: 50px;
    top: 50%;
    left: 25%;
    background: url('ajax-loader.gif') no-repeat center;
    z-index: 9000;
}
#footercredit {
    font-family: 'Open Sans',"Georgia","Helvetica Neue",Arial,sans-serif;
    font-weight:300;
    font-size: 12px;
    margin-top:10px;
    height: 30px;
    text-align: center;
    color: #444;
    bottom:0;
}
footer {
    position:fixed;
    padding-bottom: 20px;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    z-index: -500;
}


/*Main page settings (Public Page)*/

#intro{
    background: #fff url('main.png') no-repeat 75px 0;
    height: 300px;
    width: 1000px;
}

#intro-feedlist-img{
    background: #fff url('feedlist.png') no-repeat;
    height: 300px;
    width: 275px;

}
#intro-postlist-img{
    background: #fff url('postlist.png') no-repeat 75px 0;
    height: 300px;
}
#intro-post-img{
    background: #fff url('postview.png') no-repeat 50px 0;
    height: 350px;
}

#intro p,#intro h1{
    padding-left: 550px;

}
#intromain p {
    font-family: 'Open Sans',"Georgia","Helvetica Neue",Arial,sans-serif;
    color: #444;
    font-weight:300;
    font-size: 16px;
    line-height: 1.875em;
}
#intro h1, #intromain h2{
    font-family: 'Open Sans',"Georgia","Helvetica Neue",Arial,sans-serif;
    color: #444;
    font-weight:400;
}
#intro-center{
    width:920px;
    margin: 0 auto;
}
#intro h1{
    font-size: 70px;
}
#intromain h2{
    font-size:30px;
}
#introbtn{
    margin-left: 550px;
}
#center-row{
    border-top: 1px dotted #dcdcdc;
    padding-top: 35px;
}


/*Normal post and panel setting (Non-fullscreen)*/

.panel-group{
    margin-bottom: 5px;
}
.panel-title a{
    font-family: 'Open Sans','Droid Sans',arial,sans-serif;
    font-size: 18px;
}
#btn-unreadposts,#btn-readposts{
    margin: 5px auto 10px auto;
}
#btn-unreadposts-container {
    text-align:center
}
.row#addfeedbutton{
    margin: 0 auto;
}
.post-body{
    padding: 15px 25px;
}
.post-body p{
    font-family: 'Droid Sans',"Georgia","Helvetica Neue",Arial,sans-serif;
    line-height: 26px;
    font-size: 16px;
    text-align: justify;
    color: #444;
}
blockquote{
    font-family: 'Vollkorn',"Georgia","Helvetica Neue",Arial,sans-serif;
    line-height: 26px;
    font-size: 16px;
    text-align: justify;
    color: #444;
}
#published {
    margin-top: 4px;
    margin-left: 25px;
    font-size:13px;
    line-height: 15px;
}
.post-body img{
    max-width:600px;
    height: auto;
    border-radius: 6px;
}
.row#posttoolbar{
    padding: 0 25px 25px 0;
}
.panel-heading-read{
    padding: 10px 15px;
    background-color: #ffffff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-body{
    border-top:1px solid #dddddd;
}


/*post on full screen settings*/

.row .fullScreen{
    max-width: 860px;
    margin: 0 auto;
    padding: 45px 45px 10px;
}
.fullScreen code{
    font-family: 'Inconsolata', sans-serif;
    font-size: 17px;
}
.fullScreen p{
    line-height: 29px;
    font-size: 18px;
    font-family: 'Lora',"Georgia","Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    text-align: justify;
    color: #444;
}
.fullScreen img{
    max-width: 800px;
    height: auto;
}
