%div.collapse.navbar-collapse.navbar-ex1-collapse
	%ul.nav.navbar-nav
		-if current_user
			%li
				%a{:href => '/userfeeds'} Home
			%li.dropdown
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
					Subscriptions
					%b.caret
				%ul.dropdown-menu
					%li
						%a{:href => '/'} Home
		-else
			%li
				%a{:href => '/'} Home
			%li.dropdown
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
					Subscriptions
					%b.caret
				%ul.dropdown-menu
					%li
						%a{:href => '/'} Home

	- if current_user
		%ul.nav.navbar-nav{:class =>"pull-right"}
			%li.dropdown
				%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
					%div.navbar-img{:class => "pull-left"}
						%img{"src" => current_user.profile_pic}
					#{current_user.name}
					%b.caret
				%ul.dropdown-menu
					%li
						= link_to "Sign Out", signout_path
	- else
		%ul.nav.navbar-nav{:class =>"pull-right"}
			%li
				%p.navbar-text
					= link_to "Sign in ", "/auth/facebook"
	



